.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.card {
    background-color: rgb(44, 42, 156);
    color: rgb(130, 137, 236);
}
#jumbo {
    padding: 1px;
}